{% extends "base.html" %}
{% from 'macros.html' import render_flashed_messages %}

{% block content %}
<div class="container">
    <img src="/static/images/logo.png" height="180" class="pull-left" style="margin:20px; clear:both;">
    <h1>DnD <small>{{ version }}</small></h1>
    <p>Hello{%- if current_user.is_authenticated() %} {{ current_user.first_name }}{% endif -%},</p>
    <p>This pages tell epic story about group of heroes.</p>

    {%- if current_user.is_authenticated() %}
    {# <p>You are currently logged.</p> #}
    {% endif %}

    <br style="clear:both">
    <div class="">
        {{ render_flashed_messages() }}
    </div>
<img src="/images/brno.jpg" class="pull-left" style="margin:20px;">
</div>
{% endblock %}