{% extends "base.html" %}
{% from "macros.html" import render_flashed_messages %}
{% from "macros_forms.html" import render_form %}
{% block content %}
<div class="container">
  {{ render_flashed_messages() }}
  <h2>{{ current_user.nickname }}<br><small>Player profile</small></h2>

  {% if current_user.email -%}<img src="{{ current_user.email | gravatar }}" class="img-rounded" alt="avatar image" style="width:156px">{%- endif -%}

  <div>
    {{ render_form(form, class_='inline-form') }}
  </div>
  
</div>
<script>
$("#nickname").prop('disabled', true);
</script>
{% endblock %}